.the-gallery {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.the-gallery .div {
  background-color: transparent;
  width: 1512px;
  height: 2993px;
  position: relative;
}

.the-gallery .footer-dark {
  position: absolute;
  width: 1448px;
  height: 411px;
  top: 442px;
  left: 32px;
}

.the-gallery .group-wrapper {
  height: 977px;
  top: 0;
  position: absolute;
  width: 1512px;
  left: 0;
}

.the-gallery .group {
  position: relative;
  width: 1470px;
  height: 870px;
  top: 45px;
  left: 21px;
}

.the-gallery .overlap {
  top: 153px;
  left: 69px;
  position: absolute;
  width: 1155px;
  height: 717px;
}

.the-gallery .overlap-group {
  top: -40px;
  left: -95px;
  position: absolute;
  width: 1155px;
  height: 717px;
}


.the-gallery .img {
  position: absolute;
  width: 450px;
  height: 650px;
  top: 0;
  left: 677px;
  object-fit: cover;
  border-radius: 10px;
  opacity: .85;
}

.the-gallery .group-2 {
  position: absolute;
  width: 481px;
  height: 175px;
  top: 271px;
  left: 179px;
}

.the-gallery .text-wrapper1 {
  position: absolute;
  top: 50px;
  left: px;
  font-family: "cinema sunday-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 128px;
  letter-spacing: 14.40px;
  line-height: normal;
}

.the-gallery .text-wrapper1  {
  background: linear-gradient(
      to right,
      #050609 20%,
      #684756 30%,
      #d69f7e 50%,
      #774936 70%,
      #3c0000 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 500% auto;
  animation: textShine 8s ease-in-out infinite alternate;
}

@keyframes textShine {
0% {
    background-position: 0% 50%;
}
100% {
    background-position: 100% 50%;
}
}

.the-gallery .text-wrapper2 {
  position: absolute;
  width: 104px;
  top: 0;
  left: 126px;
  font-size: 40px;
  letter-spacing: 6.00px;
  font-family: "cinema sunday-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  line-height: normal;
  white-space: nowrap;
}




